<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="JWS">
		<file>tests/Integration/JWS.php</file>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>
</phpunit>
